@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --font-geist: "Geist Variable", sans-serif;
  --font-geist-mono: "Geist Mono Variable", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #222;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #444;
}

p {
  font-size: 1rem;
  color: #555;
}

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 10px;
  color: #666;
}

.rich-content * {
  all: unset;
  display: revert;
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 0.5rem 0;
  line-height: 1.5;
  color: inherit;
}

.rich-content h1 {
  font-size: 2rem;
  font-weight: bold;
}

.rich-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.rich-content h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.rich-content p {
  text-align: justify;
  color: black;
}

@media (max-width: 639px) {
  h1 {
    font-size: 1.5rem; /* 24px */
  }

  h2 {
    font-size: 1.25rem; /* 20px */
  }

  h3 {
    font-size: 1.1rem; /* ~17.6px */
  }
}
